<h1>Персональная страница этого робота </h1>
<p><%= image_tag('robot.png', size: '100x100')%></p>
<p> На этом сайте будет много чего неинтересного и мало чего интересного, робот даст вам контент без смс и регистрации(нет).
На этом сайте этот робот будет тестировать g00g1e $e0 products.</p>
